In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [25]:
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

    ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

    ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

    ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

   ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]
dataset

[['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],
 ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],
 ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],
 ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],
 ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [26]:
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()

In [27]:
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [29]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.8      (7)
3      0.6      (9)
4      0.6   (5, 7)
5      0.6   (9, 5)

In [31]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Scarf, Pants)
5      0.6  (Skirt, Pants)

In [33]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf
3,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6

In [34]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Skirt),(Pants),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [7]:
dataset = pd.read_csv(r'C:\ya1\a1\Market_Basket_Optimisation.csv')
dataset

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()

In [9]:
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,,a,b,c,d,e,f,g,h,i,...,p,r,s,t,u,v,w,x,y,z
0,False,False,False,False,False,False,False,False,True,True,...,True,True,True,False,False,False,False,False,False,False
1,False,True,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,False,True,False,True,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,True,True,True,False,False,True,False,True,False,True,...,False,False,True,True,False,True,False,True,False,False
4,True,True,False,False,False,True,False,True,False,False,...,True,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.001)

     support    itemsets
0   0.001600         (0)
1   0.002000         (1)
2   0.001600         (5)
3   0.001200         (9)
4   0.001067        (12)
5   0.001067        (13)
6   0.001333        (14)
7   0.001467        (15)
8   0.001067        (17)
9   0.001333        (18)
10  0.001200        (19)
11  0.001200      (0, 1)
12  0.001467      (0, 5)
13  0.001200     (0, 19)
14  0.001067      (1, 5)
15  0.001067     (1, 15)
16  0.001067     (1, 18)
17  0.001067     (1, 19)
18  0.001067     (19, 5)
19  0.001067   (0, 1, 5)
20  0.001067  (0, 1, 19)
21  0.001067  (0, 19, 5)

In [22]:
frequent_itemsets=apriori(df, min_support=0.001, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

     support   itemsets
0   0.001600        ( )
1   0.002000        (a)
2   0.001600        (e)
3   0.001200        (i)
4   0.001067        (l)
5   0.001067        (m)
6   0.001333        (n)
7   0.001467        (o)
8   0.001067        (r)
9   0.001333        (s)
10  0.001200        (t)
11  0.001200     ( , a)
12  0.001467     ( , e)
13  0.001200     ( , t)
14  0.001067     (e, a)
15  0.001067     (a, o)
16  0.001067     (s, a)
17  0.001067     (t, a)
18  0.001067     (e, t)
19  0.001067  ( , e, a)
20  0.001067  ( , t, a)
21  0.001067  ( , e, t)

In [23]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( ),(a),0.001600,0.002000,0.001200,0.750000,375.000000,0.001197,3.992000
1,(a),( ),0.002000,0.001600,0.001200,0.600000,375.000000,0.001197,2.496000
2,( ),(e),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
3,(e),( ),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
4,( ),(t),0.001600,0.001200,0.001200,0.750000,625.000000,0.001198,3.995200
5,(t),( ),0.001200,0.001600,0.001200,1.000000,625.000000,0.001198,inf
6,(e),(a),0.001600,0.002000,0.001067,0.666667,333.333333,0.001063,2.994000
7,(a),(e),0.002000,0.001600,0.001067,0.533333,333.333333,0.001063,2.139429
8,(a),(o),0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
9,(o),(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
10,(s),(a),0.001333,0.002000,0.001067,0.800000,400.000000,0.001064,4.990000
11,(a),(s),0.002000,0.001333,0.001067,0.533333,400.000000,0.001064,2.140000
12,(t),(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
13,(a),(t),0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
14,(e),(t),0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
15,(t),(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
16,"( , e)",(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
17,"( , a)",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
18,"(e, a)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
19,( ),"(e, a)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
20,(e),"( , a)",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
21,(a),"( , e)",0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
22,"( , t)",(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
23,"( , a)",(t),0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
24,"(t, a)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
25,( ),"(t, a)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
26,(t),"( , a)",0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
27,(a),"( , t)",0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
28,"( , e)",(t),0.001467,0.001200,0.001067,0.727273,606.060606,0.001065,3.662267
29,"( , t)",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
30,"(e, t)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
31,( ),"(e, t)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
32,(e),"( , t)",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
33,(t),"( , e)",0.001200,0.001467,0.001067,0.888889,606.060606,0.001065,8.986800

In [24]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( ),(a),0.001600,0.002000,0.001200,0.750000,375.000000,0.001197,3.992000
1,(a),( ),0.002000,0.001600,0.001200,0.600000,375.000000,0.001197,2.496000
2,( ),(e),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
3,(e),( ),0.001600,0.001600,0.001467,0.916667,572.916667,0.001464,11.980800
4,( ),(t),0.001600,0.001200,0.001200,0.750000,625.000000,0.001198,3.995200
5,(t),( ),0.001200,0.001600,0.001200,1.000000,625.000000,0.001198,inf
6,(e),(a),0.001600,0.002000,0.001067,0.666667,333.333333,0.001063,2.994000
7,(a),(e),0.002000,0.001600,0.001067,0.533333,333.333333,0.001063,2.139429
8,(a),(o),0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
9,(o),(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
10,(s),(a),0.001333,0.002000,0.001067,0.800000,400.000000,0.001064,4.990000
11,(a),(s),0.002000,0.001333,0.001067,0.533333,400.000000,0.001064,2.140000
12,(t),(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
13,(a),(t),0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
14,(e),(t),0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
15,(t),(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
16,"( , e)",(a),0.001467,0.002000,0.001067,0.727273,363.636364,0.001064,3.659333
17,"( , a)",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
18,"(e, a)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
19,( ),"(e, a)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
20,(e),"( , a)",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
21,(a),"( , e)",0.002000,0.001467,0.001067,0.533333,363.636364,0.001064,2.139714
22,"( , t)",(a),0.001200,0.002000,0.001067,0.888889,444.444444,0.001064,8.982000
23,"( , a)",(t),0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
24,"(t, a)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
25,( ),"(t, a)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
26,(t),"( , a)",0.001200,0.001200,0.001067,0.888889,740.740741,0.001065,8.989200
27,(a),"( , t)",0.002000,0.001200,0.001067,0.533333,444.444444,0.001064,2.140286
28,"( , e)",(t),0.001467,0.001200,0.001067,0.727273,606.060606,0.001065,3.662267
29,"( , t)",(e),0.001200,0.001600,0.001067,0.888889,555.555556,0.001065,8.985600
30,"(e, t)",( ),0.001067,0.001600,0.001067,1.000000,625.000000,0.001065,inf
31,( ),"(e, t)",0.001600,0.001067,0.001067,0.666667,625.000000,0.001065,2.996800
32,(e),"( , t)",0.001600,0.001200,0.001067,0.666667,555.555556,0.001065,2.996400
33,(t),"( , e)",0.001200,0.001467,0.001067,0.888889,606.060606,0.001065,8.986800